@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,700;1,300&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    padding: 0;
    margin:0;
    text-decoration: none;
    list-style: none;
    
}

html{
    scroll-behavior: smooth;
    width: 100%;
}

body {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
        background-repeat: no-repeat;
    
}

img {
    width: 20%;
}

nav{
    height: 100px;
    width: 100%;
    
}
.enlace{
    position: absolute;
    padding: 20px 50px;
    max-width: 60%;
    line-height: 120px;
}

.nav ul{
   float: right;
   margin-right: 20px;
    
}
.nav ul li {
    display: inline-block;
    line-height: 100px;
    margin: 0 5px;
 
}

nav ul li a{

    color: #6C63FF;
    font-size: 18px;
    font-weight: 600;
    padding: 7px 13px;
    border-radius: 5px;
    
 
}

/* li a.active, li a:hover{
    background:#6C63FF;
    color: #434343;
    transition: .5s;
} */

.checkbtn{
    font-size: 30px;
    float:right;
    color:  #6C63FF;
    line-height: 100px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.fotoPerfil{
    border-radius: 50%;
}


.resumen{
    padding: 2rem;
    margin: auto;
    font-size: 18px;
    font-weight: 600;
    color: #6C63FF;
    padding-bottom: 0;
    margin-bottom: -2rem;
    width: 100%;
    
}

.presentacion {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.presentacion img{
    width: 40%;
}

 .texto {
    font-size: 18px;
    padding: 10px;
    color: white;
}

.habilidades {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

.habilidades img{
    width: 40%;
}

.subheader {
    font-size: 25px;
    color:#6C63FF;
}

.proyectos{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}



.contacto{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

.btnUp {
    background-color: #6C63FF;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: none;
    position: fixed;
    bottom: 20px;
    right: 0;
    
}

.btnUp img{
    width: 25px;
    position: fixed;
    bottom:40px;
    right: 18px;
    
}



.cv{
    margin-top: 50px;
}

.cv a{
    text-decoration: none;
    padding: 5px;
    margin-top: 100px;
    font-weight: bold;
    font-size: 18px;
    color: white;
}

.datos {
    margin-bottom: 100px;
}

.whatsapp {
    display: flex;
    justify-content:center;
    
}

.whatsapp a{
    margin-top: 10px;
    text-decoration: none ;
    color: white;
}

.whatsapp img{
    width: 40px;
}

.mail{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.mail a{
    margin-top: 10px;
    text-decoration: none;
    color: white;
}

.mail img{
    
    width: 40px;
    margin-left: 90px;
    margin-right: 10px;
}

.github{
    margin-top: 20px;
    display: flex;
    justify-content: center;

}

.github a{
    margin-top: 10px;
    text-decoration: none;
    color: white;
}
.github img{
    width: 40px;
    margin-left: -25px;
    margin-right: 5px;

}
.redes img{
    width: 40px;
    
}

.facebook   {
    display: flex;
    justify-content: center;
}
.facebook a{
    margin-top: 10px;
    text-decoration: none;
    color: white;
}

.insta   {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.insta a{
    margin-top: 10px;
    text-decoration: none;
    color: white;
}

.LinkedIn   {
    margin-top: 20px;
    margin-left: 80px;
    display: flex;
    justify-content: center;
}
.LinkedIn a{
    margin-top: 10px;
    text-decoration: none;
    color: white;
}

.card {

    width: 30%;
    height: 50%;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;

}
.imgcard {
    border-bottom: 1px solid gray;
    padding: 3px;
    height: 70%;
}
.imgcard img{
    width: 100%;
    padding: 10px;
    height: 100%;
    object-fit:scale-down;
    border-radius: 20px;
 

}
.imgcard2 {
    border-bottom: 1px solid gray;
    padding: 3px;
    height: 70%;
}
.imgcard2 img{
    padding: 10px;
    width: 100%;
    height: 100%;
    object-fit:scale-down;
    border-radius: 20px;

}

.texto2 {
    padding: 10px;
    font-weight: 800;
    overflow: auto;
    height: 30%;
}

@media(min-width:952px){
    li a.active, li a :hover{
        background:#6C63FF;
        color: #434343;
        transition: .5s;
    }
    .card{
        height: 35rem;
    }
}

@media (max-width: 952px){
.enlace{
    padding-left: 20px;
}
nav ul li a {
    font-size: 16px;
}
}

@media (max-width: 858px){
 /* .checkbtn{
    display: block;
 }   */
 /* ul{
    position: fixed;
    width: 100%;
    height: 100%;
    background:#6C63FF;
    color:#434343;
    top: 100px;
    left:-100%;
    text-align: center;
    transition: all .5s;
 }  */

 ul {
    display: none;
 }
 
 #perfil{
    width: 150px;
    
 }
 .enlace{
    position: absolute;
    margin-left: 27%;
    transition: all .5s;
 }
 nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
 }
 nav ul li a{
    font-size: 20px;
 }
#check:checked ~ ul {
    left:0;
}
.presentacion{
    display: block;
}
.presentacion img{
    width: 90%;
}
.habilidades{
    display: block;
    text-align: center;
    margin-top: 20px;
}
#ulhab{
    display: block;
}
.habilidades img{
    width: 90%;
    
}
.proyectos{
    display:block;
}
.card{
    width: 90%;  
    max-height: 50%;
    margin:auto;
    margin-bottom: 1rem;
}

#maqueta{
    margin-top: -5rem;
}
#prueba{
    margin-top: -5rem;
}
.resumen{
   
    width: 75%;
    margin-left: 22%;
}
.contacto{
    margin-top: 50px;
    display: block;
}



.btnUp img{
    width: 25px;
    position: fixed;
    bottom:40px;
    right: 18px;   
}
.cv{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.cv a{
    text-decoration: none;
    padding: 5px;
    margin-top: 100px;
    font-weight: bold;
    font-size: 18px;
    color: white;
}
.datos {
    margin-bottom: 2rem;
    margin-left: 2rem;
}
.whatsapp{
    justify-content: left;
}
.mail{
    justify-content: left;
}
.mail img{
    
 
    margin-left: 0rem;
   
}
.github{
    justify-content: left;
    margin-left: 1.5rem;
}
.redes{
    margin-bottom: 3rem;
}
.facebook{
    justify-content: left;
    margin-left: 2rem;
}
.insta{
    justify-content: left;
    margin-left: 2rem;
}
.LinkedIn{
    justify-content: left;
    margin-left: 2rem;
}
}

