@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,700;1,300&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    
}

body {
    background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
    background-repeat: no-repeat;
}

img {
    width: 150px;
}

.header {
    color:black;
    height: 25%;
    width: 100%;
    display: flex;
     
    flex-direction: row;
    justify-content: space-evenly;
}

.nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.nav ul li {
    text-decoration: none;
    text-decoration: underline;
    font-size: 22px;
    font-weight: 600;
    padding: 10px;
    list-style: none;
    margin-top: 50px;
}



.fotoPerfil{
    border-radius: 50%;
}

.resumen{
    margin-top: 60px;
    font-size: 22px;
    font-weight: 600;
}

.presentacion {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

.presentacion img{
    width: 600px;
}

 .texto {
    font-size: 18px;
    padding: 10px;
}

.habilidades {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

.habilidades img{
    width: 600px;
}

.subheader {
    font-size: 25px;
}

.proyectos{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}



.contacto{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

.btnUp {
    background-color: #6C63FF;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: none;
    position: fixed;
    bottom: 20px;
    right: 0;
}

.btnUp img{
    width: 25px;
    position: fixed;
    bottom:40px;
    right: 18px;
}



.cv{
    margin-top: 50px;
}

.cv a{
    text-decoration: none;
    padding: 5px;
    margin-top: 100px;
    font-weight: bold;
    font-size: 18px;
}

.datos {
    margin-bottom: 100px;
}

.whatsapp {
    display: flex;
    justify-content:center;
    
}

.whatsapp a{
    margin-top: 10px;
    text-decoration: none ;
}

.whatsapp img{
    width: 40px;
}

.mail{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.mail a{
    margin-top: 10px;
    text-decoration: none;
}

.mail img{
    
    width: 40px;
    margin-left: 90px;
    margin-right: 10px;
}

.ubicacion a{
    margin-left: 290px;
}

.redes img{
    width: 40px;
    
}

.facebook   {
    display: flex;
    justify-content: center;
}
.facebook a{
    margin-top: 10px;
    text-decoration: none;
}

.insta   {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.insta a{
    margin-top: 10px;
    text-decoration: none;
}

.LinkedIn   {
    margin-top: 20px;
    margin-left: 80px;
    display: flex;
    justify-content: center;
}
.LinkedIn a{
    margin-top: 10px;
    text-decoration: none;
}

.card {

    width: 500px;
    height: 800px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;

}
.imgcard {
    border-bottom: 1px solid gray;
}
.imgcard img{
    width: 500px;
    height: 600px;
    object-fit:cover;
    border-radius: 20px 20px 0px 0px;
 

}
.imgcard2 {
    border-bottom: 1px solid gray;
}
.imgcard2 img{
    width: 500px;
    height: 600px;
    object-fit:fill;
    border-radius: 20px 20px 0px 0px;
}

.texto2 {
    padding: 5px;
    font-weight: 800;
}